<div class="main">
  <%= render partial: 'shared/header2' %>
  <div class="main-new">
    <div class="inner">
      <div class="inner-content">
        <h2>パスワード再登録</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="actions">
            <%= f.submit "パスワードをリセットする" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
