<div class="main">
  <%= render partial: 'shared/header' %>
  <%= link_to new_shift_path do %>
    <button type="button" class="btn btn-primary">シフト提出</button></a>
  <% end %>
  <button type="button" class="btn btn btn-warning">シフト編集</button>

  <% @shifts.each do |shift| %>
    <div>
      <%= shift.start_time %>
    </div>
  <% end %>
  <%= month_calendar events: @shifts do |date, shifts| %>
    <%= date.day %>
    <% shifts.each do |shift| %>
      <div>
        <%= shift.start_time %>
      </div>
    <% end %>
  <% end %>

  <%= current_user.name %>
</div>
