<div class="main">
  <%= render partial: 'shared/header' %>
  <%= link_to new_shift_path do %>
    <button type="button" class="btn btn-primary">シフト提出</button>
  <% end %>
  <button type="button" class="btn btn btn-warning">シフト編集</button>

  <%= month_calendar events: @shifts do |date, shifts| %>
    <%= date.day %>

    <% shifts.each do |shift| %>
      <div>
        <%= shift.user.name %>
        <%= link_to shift.start_time.to_s(:time), shift %>〜
      </div>
    <% end %>
  <% end %>
</div>
